html {
    background-color: #000000;
}
body {
    width: 400px;
    /* center horizontally */
    margin: 0 auto;
    font-family: 'Fira Code', monospace;
    color: #de5d47;
    font-size: 18px;
}
h1 {
    text-align: center;
    font-weight: normal;
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 0.2rem;
}
h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
a {
    color: #de5d47;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.links{
    text-align: center;
}
.welcome {
    text-align: center;
}
